:root {
    /*Colors primary*/
    --clr-primary:  hsl(300, 43%, 22%); /*Very Dark Magenta*/
    --clr-secondary: hsl(333, 80%, 67%); /*Soft Pink*/
    --clr-white:hsl(0 0% 100%) ;
    --clr-black:hsl(232, 12%, 13%);

    /*Neutral*/
    --clr-neutral-500: hsl(303, 10%, 53%);
    --clr-neutral-600:  hsl(300, 24%, 96%);

    /*Font*/
    --ff-primary : 'League Spartan', sans-serif ;
    --ff-body: var(--ff-primary);
    --ff-accent: var(--ff-primary);

    --fw-regular : 400;
    --fw-semi-bold : 500;
    --fw-bold : 700;

    /*Font-size Desktop*/
    /*Base 15px*/
    --fs-200 : 0.8rem; /*12px*/
    --fs-300 : 0.867rem;/*13*/
    --fs-400 : 0.933rem; /*14px*/
    --fs-500 :1rem; /*15px*/
    --fs-600 : 1.133rem; /*17*/
    --fs-700 : 1.267rem;/*19*/
    --fs-800 : 2.667rem;/*40*/
    --fs-900 : 3.733rem;/*56*/

    /*Fonts variables*/
    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-800);
    --fs-text: var(--fs-600);
    --fs-text-lg : var(--fs-700);
}

body {
    background-color: var(--clr-white);
    font-family: var(--ff-body);
    font-size:var(--fs-500);
    height: 100vh;
}

/*Utilities classes*/

.container {
    display: flex;
    justify-content: center;
    margin-right: 24px;
    margin-left: 24px;

}

.text-sm {
    font-size: var(--fs-600);
    line-height: 22px;
}

.text-lg {
    font-size: var(--fs-600);
    line-height: 25px;
}

.text-bold {
    font-weight: var(--fw-bold);
}

/* Section social*/
.social {
    padding-top: 82px;
    padding-bottom: 99px;
}

.social__top {
    display: grid;
    justify-content: center;
    align-items: center;
}

.social__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;


}

.social__title-text {
    font-size: var(--fs-800);
    line-height: 32px;
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
}

.social__subtitle {
    padding-top: 17px;
}

.social__subtitle-text {
    color: var(--clr-neutral-500);
    font-weight: var(--fw-semi-bold);
    font-size: var(--fs-700);
}

.social__rate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39px;
}

.social__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-neutral-600);
    padding-top: 16px;
    padding-bottom: 15px;
    margin-top: 16px;
    width: 327px;
    border-radius: 8px;
}

.social__item:nth-child(1) {
    margin-top: 0;
}

.social__item-star {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    padding-bottom: 12px;
    border-radius: 10px;
}

.social__item-text {
    font-size: var(--fs-600);
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
}

.social__cards {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 49px;
    margin: 0 auto;
}

.social__card {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-primary);
    border-radius: 8px;
    padding: 40px 32px 35px 32px;
}

.social__card-customers {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.social__card-profil {
    padding-left: 23px;
    color: var(--clr-white);
}

.social__card-description {
    padding-top: 24px;
    color: var(--clr-white);
}

.social__card-image {
    height: 40px;
    border-radius: 50% 50%;
}

.social__card-job {
    color: var(--clr-secondary);
    font-weight: var(--fw-bold);
}


@media screen and (min-width: 768px){
    .social__title {
        width: 75%;
    }

    .social__subtitle {
        width: 75%;
    }

    .social__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 445px;
        padding: 16px 32px;

    }

    .social__item-star {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 0;
    }

    .social__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1024px){

    .container {
        margin: 0 auto;
        width: 992px;
    }

    .social {
        max-width: 1100px;
    }

    .social__left {
        align-items: normal;
        text-align: left;
    }

    .social__top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .social__title-text {
        font-size: var(--fs-900);
        line-height: 48px;
    }

    .social__rate {
        margin-top: 0;
        align-items: end;
    }

    .social__item:nth-child(1) {
        margin-right: 93px;
    }

    .social__item:nth-child(2) {
        margin-right: 45px;
    }

    .social__cards {
        display: grid;
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: 1fr;
        gap: 30px;
    }

    .social__card {
        padding: 43px 32px 35px 32px;
    }

    .social__card:nth-child(2) {
        margin-top: 30px;
    }

    .social__card:nth-child(3) {
        margin-top: 60px;
    }


}

@media screen and (min-width: 1200px){

    .container {
        margin: 0 auto;
        width: 1024px;
    }
}

@media screen and (min-width: 1400px){

    .container {
        margin: 0 auto;
        width: 1200px;
    }

}



